[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathspec = "*"
django = "*"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
djangorestframework = "*"
pipenv-to-requirements = "*"
channels = "*"
channels-redis = "*"
pytz = "==2021.3"
sentry-sdk = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
