<ul class="flex items-center text-sm font-medium h-full">
    {% if user.is_authenticated %}
        <a href="{{user.get_absolute_url}}">
            {% include "mixins/user_avatar.html" with user=user h_and_w='w-11 h-11' %}
        </a>
        <li class="nav_link"><a href="{{user.get_absolute_url}}">Profile</a></li>
        {% comment %} <li class="nav_link"><a href="{% url "users:profile" user.pk %}">Profile</a></li> {% endcomment %}
        <li class="nav_link"><a href="{% url "users:logout" %}">Log out</a></li>
    {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}">Log in</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}">Sign up</a></li>
    {% endif %}
</ul>
