
{% extends "base.html" %}
{% load static %}
{% block page_title %}
    Search
{% endblock page_title %}

{% comment %} {% block search-bar %}
{% endblock search-bar %} {% endcomment %}

{% block content %}
    <div class="container mx-auto pt-5 pb-12">
        <div class="container ">
            <div class="flax ">
                <button class="filter-btn hover:shadow-lg focus:outline-none">
                    <img class="w-7" src="{% static 'img/filter.png' %}" />
                </button>
                {% comment %} <span>filiter</span> {% endcomment %}
            </div>
            <form class="search" method="get" action="{% url "rooms:search" %}">
                <div class="filter-screen hidden mx-auto justify-around mt-3">
                    {% for field in form %}
                        {% if forloop.counter == 1 %}
                            <div class="w-1/6">
                                <div style="display:none">
                        {% endif %}
                            <div class="input  {% if field.errors %}has_error{% endif %}">
                                {{field.label}}
                                {% if forloop.counter == 11 %}
                                <div class="filter-scroll border-t mt-2 pt-1">
                                {% elif forloop.counter == 12 %}
                                <div class="filter-scroll border-t mt-2 pt-1">
                                {% endif %}
                                {{field}}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span class="text-red-700 font-medium text-sm">{{error}}</span> 
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% if forloop.counter == 1 %}
                            </div>
                        {% endif %}
                        {% if forloop.counter == 5 %}
                            </div>
                            <div class="w-1/6">
                        {% endif %}
                        {% if forloop.counter == 10 %}
                            </div>
                            <div class="w-1/5 amenities">
                        {% endif %}
                        {% if forloop.counter == 11 %}
                                </div>
                            </div>
                            <div class="w-1/5 ">
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <button id="search" style="display:none">Search</button>
                {% comment %} <button id="search" >Search</button> {% endcomment %}
            </form>
        </div>

        <div class="container pt-11 pb-10 border-t border-gray-200 mt-6">
            
            <div class="flex flex-wrap -mx-5 mb-10">
                {% for room in rooms  %}
                    {% include 'mixins/room_card.html' with room=room %}
                {% endfor %}
            </div>
            <div class="flex items-center justify-center mx-auto container">
                {% if page_obj.has_previous %}
                    <a href="{{current_url}}page={{page_obj.previous_page_number}}" class=" rounded-circle p-1 hover:bg-gray-100">
                        <i class="fas fa-arrow-left fa-lg"></i>
                    </a>
                {% else %} 
                    <a class="text-gray-300"  disabled>
                        <i class="fas fa-arrow-left fa-lg"></i>
                    </a>                
                {% endif %}

                {% if page_obj.number > 2 %}
                    <a class="font-medium text-lg page_hover" href="{{current_url}}page=1">1</a>
                    {% if first_ellipsis %}
                        ...
                    {% endif %}
                {% endif %}

                {% for page in page_range %}

                    {% if page == page_obj.number %}
                        <a class="rounded-circle mx-3 pb-1 px-10px font-medium text-lg bg-red-500 text-red-50" href="{{current_url}}page={{page}}">{{page}}</a>
                    {% else %}    
                        <a class="font-medium text-lg page_hover" href="{{current_url}}page={{page}}">{{page}}</a>
                    {% endif %}
                {% endfor %}

                {% if last_range < page_obj.paginator.num_pages %}
                    {% if last_ellipsis %}
                        ...
                    {% endif %}
                    <a class="font-medium text-lg page_hover" href="{{current_url}}page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
                        
                {% endif %}
                
                
                {% if page_obj.has_next  %}
                    <a href="{{current_url}}page={{page_obj.next_page_number}}" class="rounded-circle p-1 hover:bg-gray-100">
                        <i class="fas fa-arrow-right fa-lg"></i>
                    </a>
                {% else %} 
                    <a class="text-gray-300" disabled>
                        <i class="fas fa-arrow-right fa-lg"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.querySelector(".search-btn").addEventListener("click", e=>{
            e.preventDefault() 
            document.querySelector("#id_city").value = document.querySelector(".search-box").value
            document.querySelector("#search").click()
        });

        document.querySelector(".filter-btn").addEventListener("click", e=>{
            e.preventDefault() 

            const filter_screen = document.querySelector(".filter-screen")
            
            if (filter_screen.className.includes("hidden"))
                filter_screen.classList.replace("hidden","flex")
            else
                filter_screen.classList.replace("flex","hidden")
        });
    </script>

{% endblock content %}