{% extends "base.html" %}

{% block page_title %}
    {{user.first_name}}'s Fav
{% endblock page_title %}

{% block content %}
     
    <div class="min-h-75vh">
        <h3 class="pt-4 mb-12 text-2xl text-center">My Favorite</h3>
        <div class="container mx-auto pb-5">
                <div class="flex flex-wrap -mx-5 mb-5"> 
                {% for order in orders %}
                    {% include 'mixins/room_card.html' with room=order.room %}
                {% endfor %}
            </div>
        </div> 
    </div>


    <div class="flex items-center justify-center mx-auto container mb-10">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class=" rounded-circle p-1 hover:bg-gray-100">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% else %} 
                <a class="text-gray-300"  disabled>
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>                
            {% endif %}

            {% if page_obj.number > 2 %}
                <a class="font-medium text-lg page_hover" href="?page=1">1</a>
                {% if first_ellipsis %}
                    ...
                {% endif %}
            {% endif %}

            {% for page in page_range %}
                {% if page == page_obj.number %}
                    <a class="rounded-circle mx-3 pb-1 px-10px font-medium text-lg bg-red-500 text-red-50" href="?page={{page}}">{{page}}</a>
                {% else %}    
                    <a class="font-medium text-lg page_hover" href="?page={{page}}">{{page}}</a>
                {% endif %}
            {% endfor %}

            {% if last_range < page_obj.paginator.num_pages %}
                {% if last_ellipsis %}
                    ...
                {% endif %}
                <a class="font-medium text-lg page_hover" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
            {% endif %}
            
            
            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="rounded-circle p-1 hover:bg-gray-100">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% else %} 
                <a class="text-gray-300" disabled>
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>

{% endblock content %}