container_commands:
  01_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/01_migrations.sh"
    leader_only: true
  02_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/02_compilemessages.sh"
  03_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/03_createsu.sh"
    leader_only: true
  04_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/04_collectstatic.sh"
  05_sh_executable:
    command: "chmod +x .platform/hooks/predeploy/05_seed.sh"
commands:
  01_create_file:
    command: touch /opt/python/log/analyzer.log
  02_change_permissions:
    command: chmod g+s /opt/python/log/analyzer.log
  03_change_owner:
    command: chown wsgi:wsgi /opt/python/log/analyzer.log
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application

